*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
background-color: white;
    height:3.5rem;
    color: blueviolet;
    font-size: 1.2rem;
    font-weight: bold;
       
}
#my-forum{
margin: 5rem;
 
}