*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#post-text-comment{
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
   
}
#comment-page{
    display: flex;
    justify-content: space-around;
}
#comment-data{
    display: flex;
    justify-content: center;
    align-items: center;
}
#post-comment{
    display: flex;
    justify-content: center;
}
#coment-icon-data{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
 
  width: 50vw;
  height: 30vh;
}
#remain-data{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
#coment-book{
    display: flex;
    justify-content: space-between;
}